@import "theme-editor.css";
.v-loading-indicator {
    color: #fff !important;
    fill: #fff !important;
    background-color: #000 !important;
    border-radius: 2px !important;
    margin: 1px;
    width: calc(100% - 3px) !important;
}
/*
.v-reconnect-dialog,.v-system-error{
    color: #fff !important;
    background: black !important;
} */
*{
    font-family: "poppins", sans-serif !important;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /* Standard */
}
*{
    -webkit-user-drag: none; /* Chrome, Safari */
    -moz-user-drag: none;    /* Firefox */
    -ms-user-drag: none;     /* Internet Explorer */
    user-drag: none;         /* Standard */
}
img, svg {
    pointer-events: none;
}
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
*::-webkit-scrollbar{
    display: none;
}
.logo svg{
    fill: var(--lumo-primary-color);
}
svg{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link{
    position: relative;
    width: calc(100% - 20px);
    transition: all 0.3s ease-in-out;
    overflow: hidden !important;
    outline: none;
}
.link:hover{
    background-color: var(--lumo-shade-5pct);
    text-decoration: none;
    font-weight: 500;
    padding: 10px 0px 10px 20px !important;
}
.link:focus{
    background-color: var(--lumo-shade-10pct);
    outline: none !important;
}
.link:active{
    background-color: var(--lumo-shade-15pct);
}
.linkText{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    #Layer_2 {
        height: 25px !important;
    }
}
